<?php

define('DB_SERVER', '<server>');
define('DB_NAME', '<database>');
define('DB_USER', '<username>');
define('DB_PASSWORD', '<password>');

define('TMP_PATH', dirname(__FILE__) . '/../tmp/');
define('ALLOW_VOTING_IP_PREFIX', '192.168.0.');

define('LOCATION_FALLBACK', 'Margaretenplatz, 1050 Wien');
define('LOCATION_FALLBACK_LAT', '48.1917245');
define('LOCATION_FALLBACK_LNG', '16.358355');

$GOOGLE_API_KEYS = array(
	/* put a list of api keys here (1 is also enough) */
);

define('USE_MINIMZED_JS_CSS', true);

define('SITE_URL', '<url>');
define('SITE_FROM_MAIL', 'Your Name <<email>>');
define('META_KEYWORDS', '<keywords>');
define('META_DESCRIPTION', META_KEYWORDS);
define('CONTACT_HREF', '<url>');
define('IMPRESSUM_HREF', '<url>');
define('PRIVACY_INFO', '<text>');

setlocale(LC_ALL, array('de_AT', 'de_DE'));

$overlay_info_data = '';
$overlay_info_version = '1.0';

$ip_usernames = array(
	'192.168.0.1' => 'Alice',
	'192.168.0.2' => 'Bob'
);

$voting_show_start = strtotime('08:00');
$voting_show_end = strtotime('15:00');

if (date('N') == 5) // friday
	$voting_over_time = strtotime('14:00');
else
	$voting_over_time = strtotime('11:50');

$tracking_code = "<js tracking code>";

?>
