@charset "UTF-8";

body {
	font-family: verdana, sans, sans-serif;
	/*line-height: 1.28;*/
	font-size: 0.9em;
	margin: 5px;
}
.dataSource {
	text-decoration: none ! important;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a:not(.ui-state-default):not(.menuData) {
	text-decoration: none;
	cursor: pointer;
	color: #36c ! important;
	background-color: inherit;
}
a:hover:not(.ui-state-default):not(.menuData), a:focus:not(.ui-state-default):not(.menuData) {
	text-decoration: none;
	cursor: pointer;
	color: #36c ! important;
	text-shadow: 0px 0px 10px lightgray;
	background-color: inherit;
}
a:visited:not(.ui-state-default):not(.menuData) {
	text-decoration: none;
	cursor: pointer;
	color: #36c ! important;
	background-color: inherit;
}
#venueContainer {
	margin-top: 5px;
}
.venueDiv {
	float: left;
	margin: 5px;
	width: 420px;
}
.title {
	font-weight: bold;
	font-size: 1.5em;
	margin-right: 5px;
	vertical-align: middle;
}
.title_notifier {
	color: red;
	font-weight: bold;
	font-size: 0.8em;
}
.icon {
	margin: 0px 5px;
	vertical-align: middle;
}
.menu {
	margin-top: 3px;
}
.menuData {
	/*font-weight: bold;*/
}
.error {
	font-weight: bold;
	color: red;
}
.subheader_div {
	margin: 5px 0px;
}
.redWarning {
	color: red;
	text-decoration: line-through;
}
.orangeWarning {
	color: darkorange;
	text-decoration: line-through;
}
#weatherContainer {
	/*margin-top: -5px*/
}
#date {
	text-decoration: inherit;
	font: inherit;
	border: 0;
	color: #36c;
}
#dialog_vote_summary {
	display: none;
	font-size: 0.8em;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 3px gray;
	margin: 1em 0;
	padding: 3px;
	background-color: floralwhite;
}
.tagCloudElement {
	margin-right: 10px;
}
#table_ingredients, #table_ingredients td, #table_ingredients th, #table_compositions, #table_compositions td, #table_compositions th {
	border: 1px solid gray;
}
#table_ingredients_wrapper, #table_compositions_wrapper {
	float: left;
	padding: 10px;
}
.stats {
	width: auto ! important;
}
table.stats td, table.stats th {
	padding: 5px;
}
img {
	border-width: 0;
}
.hidden {
	display: none;
}
.alert {
	font-size: 0.9em;
}
input {
	background-color: inherit;
}
.ui-datepicker {
	z-index: 2 ! important;
}
.locationMapLegend {
	margin-top: 10px;
	font-size: 0.9em;
}
.center {
	text-align: center;
}
.dialog_opener_float {
	float: left;
	margin-right: 10px;
}
.bold {
	font-weight: bold;
}
/* datatables fixes */
.paginate_disabled_previous, .paginate_enabled_previous {
	margin-right: 5px;
	cursor: pointer;
}
.paginate_disabled_next, .paginate_enabled_next {
	margin-left: 5px;
	cursor: pointer;
}
.paginate_button, .paginate_active {
	margin-right: 10px;
	cursor: pointer;
}
.paginate_active {
	font-weight: bold;
}
.dataTables_length {
	margin: 5px 0px;
}
/* override jqueryui font-size in dialogs */
.ui-dialog, .ui-widget {
	font-size: 1em ! important;
}

.sprite {
	background: url('../imagesCommon/sprite_icons.png?2') no-repeat top left;
	display: inline-block;
	vertical-align: middle;
}
.sprite-icon_hand_contra{ background-position: 0 0; width: 24px; height: 24px; }
.sprite-icon_hand_pro{ background-position: 0 -34px; width: 24px; height: 24px; }
.sprite-icon_pin_map{ background-position: 0 -68px; width: 24px; height: 24px; }